# Override file to mount librechat.yaml configuration
# This file extends docker-compose.yml

services:
  api:
    volumes:
      - type: bind
        source: ./.env
        target: /app/.env
      - ./librechat.yaml:/app/librechat.yaml
      - ./images:/app/client/public/images
      - ./uploads:/app/uploads
      - ./logs:/app/logs
